/* These are the styles that are going to be used for the main page.
They will later be refactored into the proper places. */

.map-list-wrapper {
    display: flex;
    flex-direction: row;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    background-color: slategray;
    align-items: center;
}

.navigation li {
    color: pink;
}

.navigation li:active {
    color: orange;
}