.business-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-photos {
    max-height: 300px;
    display: flex;
}

.individual-photo {
    box-sizing: border-box;
    width: 25%;
    border-right: 2px solid white;
}

.individual-photo:last-child {
    border: 0;
}

.business-left {
    max-width: 715px;
    padding-right: 50px;
}

.business-content {
    max-width: 1200px;
    padding: 0px 40px;
    margin: 24px auto 48px;
    /* border: 3px solid red; */
}

.business-title {
    font-size: 3em;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.business-price {
    font-size: 1.25em;
}

.middle{ 
    margin: 0px 10px 0px;
}

.business-categories {
    font-size: 1.25em;
}

.covid-update {
    background-color: rgba(10,179,201,.1);
    max-width: 650px;
    border-left: 8px solid #0ab3c9;
    padding: 8px 16px 8px 32px;
}

.business-button {
    color: #2b273c;
    border: 1px solid#2b273c;
    padding: 8px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    font-size: larger;
    text-decoration: none;
}

.business-interaction {
    display: flex;
    flex-direction: row;
    margin: 24px 0px;
}

.business-review {
    /* border: 1px solid red; */
}

.business-review-card {
    display: flex;
    flex-direction: row;
    width: 650px;
    /* border: 2px solid greenyellow; */
    height: 60px;
    margin-bottom: 12px;
}

.business-review-image {
    height: 60px;
    width: 60px;
}

.business-location {
    /* border: 1px solid salmon; */
}

.business-location-information {
    display: flex;
    flex-direction: row;
}

.business-minimap {
    height: 300px;
    width: 300px;
    border: 1px solid blue;
}

.business-hours-container {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.hours-day {
    font-family: sans-serif;
    font-weight: 700;
    margin-right: 10px;
}

.hours-time {
    font-family: sans-serif;
}

.open-now {
    margin-left: 20px;
    color: green;
    font-weight: 900;
    font-family: sans-serif;
}