.landing-wrapper {
  width: 100%;
}

.nav-wrapper {
  height: 10vh;
  background-color: rgb(2, 23, 44);
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.logo {
  color: white;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 4em;
  font-family: georgia;
  flex-grow: 1;
  text-align: center;
}

.right {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login {
  margin-right: 2em;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.get-started {
  padding: 0.75em 1.5em;
  font-size: 18px;
  font-weight: bold;
  color: rgb(2, 23, 44);
  text-decoration: none;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.hero-container {
  margin-top: 10vh;
  height: 60vh;
  background-color: rgba(0, 0, 0, 1);
  z-index: 10;
}

.hero-image {
  height: 100%;
  background-image: linear-gradient(
      0.125turn,
      rgba(31, 46, 34, 0.8),
      rgba(7, 27, 53, 0.8)
    ),
    url("https://www.smartertravel.com/uploads/2018/03/twenty20_c5f5e3e3-62b3-4cfa-8eb8-b7ac83be32d3-1400x500.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: white;
  font-weight: 200;
  font-family: NationalWeb, Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 68px;
  font-weight: bold;
}

.hero-subtitle {
  margin-top: 20px;
  font-size: 28px;
  max-width: 600px;
  line-height: 1.25em;
}

.hero-beta {
  line-height: 1.5;
  margin-top: 60px;
  font-weight: bold;
  padding: 20px 55px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  font-family: NationalWeb, Helvetica;
  cursor: pointer;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: #499421;
  transition: all 0.2s ease;
}

.hero-beta:hover {
  transform: scale(1.1);
  background-color: #96c133;
}

.press {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}

.outlets {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.the-sprueliac-times {
  color: red;
}

.the-gluten-free-journal {
  text-transform: uppercase;
}

.silly-act-magazine {
  color: green;
}

.rest-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rest-image img {
  max-width: 350px;
}

.value-props {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.value-props-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0 1em;
  width: 800px;
}

.value-props-title {
  font-size: 3.5em;
  font-family: Georgia;
  font-weight: lighter;
  margin: 25px 0 15px 0;
}

.value-props-subtitle {
  line-height: 1.75em;
  font-size: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  text-align: center;
}

.motivations {
  height: 70vh;
}

.motivations-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.motivation-card {
  border: 1px solid red;
  width: 500px;
}

.features {
  height: 70vh;
  background-color: orange;
}

.comparison {
  height: 70vh;
  background-color: yellow;
}

@media (max-width: 800px) {
  .nav-content {
    width: 90%;
  }
  .hero-content {
    width: 90%;
    margin: 0 auto;
  }
  .hero-title {
    font-size: 36px;
  }

  .hero-subtitle {
    font-size: 20px;
    max-width: 500px;
  }

  .value-props-title {
    font-size: 2em;
  }

  .value-props-subtitle {
    font-size: 1.25em;
  }
  .value-props-content {
    width: 90%;
    width: 0 auto;
  }
}
